In [1]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

## 10.3 스파크 SQL
+ 스파크 SQL은 하이브 메타스토어를 사용하므로 하이브와 잘 연동됨
    + 하이브 버전 설정: spark.sql.hive.metastore.version
    + 초기화 방식 변경: spark.sql.hive.metastore.jars
    + 클래스 접두사 설정: spark.sql.hive.metastore.sharedPrefixes

## 10.4 스파크 쿼리 실행방법
+ 스파크 SQL CLI
    ```
    ./bin/spark-sql
    ```
+ 스파크 프로그래밍 SQL 인터페이스
    ```
    spark.sql("SELECT 1+1").show()
    ```
+ 스파크 SQL 쓰리프트 JDBC/ODBC 서버
    + 자바 데이터베이스 연결 인터페이스 제공
    + 하이브 1.2.1. 버전의 HiveServer2에 맞추어 구현

In [12]:
### 프로그래밍 SQL 인터페이스
spark.read.json("./data/flight-data/json/2015-summary.json").createOrReplaceTempView("flight")

spark.sql(
"""
SELECT DEST_COUNTRY_NAME, sum(count)
FROM flight GROUP BY DEST_COUNTRY_NAME
""").show()

+--------------------+----------+
|   DEST_COUNTRY_NAME|sum(count)|
+--------------------+----------+
|            Anguilla|        41|
|              Russia|       176|
|            Paraguay|        60|
|             Senegal|        40|
|              Sweden|       118|
|            Kiribati|        26|
|              Guyana|        64|
|         Philippines|       134|
|            Djibouti|         1|
|            Malaysia|         2|
|           Singapore|         3|
|                Fiji|        24|
|              Turkey|       138|
|                Iraq|         1|
|             Germany|      1468|
|              Jordan|        44|
|               Palau|        30|
|Turks and Caicos ...|       230|
|              France|       935|
|              Greece|        30|
+--------------------+----------+
only showing top 20 rows

## 10.5 카탈로그
+ 스파크의 가장 높은 추상화 단계
+ 테이블, 데이터베이스, 함수를 조회하는 등 여러 가지 유용한 함수를 제공

## 10.6 테이블
+ DataFrame과 논리적으로 동일
+ 스파크에서 테이블을 생성하면 default 데이터베이스에 등록됨
+ 임시 테이블 개념이 없으며 데이터를 가지지 않은 뷰만 존재
+ 관리형 테이블과 외부 테이블이 있으며 디스크에 저장된 파일을 이용해 테이블을 정의하면 외부 테이블을 활용하는 것임

### 10.6 테이블 생성하기

In [19]:
spark.sql(
"""
CREATE TABLE IF NOT EXIST flights(
    DEST_COUNTRY_NAME STRING, ORIGIN_COUNTRY_NAME STRING, count LONG)
USING JSON OPTIONS (path './data/flight-data/json/2015-summary.json')
""").show()

ParseException: "\nno viable alternative at input 'CREATE TABLE IF NOT EXIST'(line 2, pos 20)\n\n== SQL ==\n\nCREATE TABLE IF NOT EXIST flights(\n--------------------^^^\n    DEST_COUNTRY_NAME STRING, ORIGIN_COUNTRY_NAME STRING, count LONG)\nUSING JSON OPTIONS (path './data/flight-data/json/2015-summary.json')\n"